.home-container {
  background-image: url('../images/home.png');
  background-size: cover; /* Maintain aspect ratio */
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.start-button {
  padding: 10px 20px;
  font-size: 1.4rem; /* Slightly smaller font size */
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Reduced margin */
}

.start-button:hover {
  background-color: #181710;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column; /* Stack content vertically */
    height: auto; /* Allow height to adjust */
    padding: 20px; /* Add padding for mobile */
  }

  h1 {
    font-size: 1.6rem; /* Further decreased heading size */
  }

  p {
    font-size: 0.9rem; /* Decrease paragraph size */
  }

  .start-button {
    padding: 8px 12px; /* Adjust button padding */
    font-size: 1rem; /* Decrease button font size */
    margin-top: 10px; /* Reduce margin on mobile */
  }
}
