.home-container {
  background-image: url('../images/home.png');
  background-size: 100% 100%; /* Adjust to maintain aspect ratio */
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.start-button {
  padding: 10px 20px;
  font-size: 1.6rem;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 600px;
}

.start-button:hover {
  background-color: #181710;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .home-container {
      background-size: cover; /* Maintain aspect ratio on mobile */
      height: auto; /* Allow height to adjust */
      padding: 20px; /* Add padding for mobile */
  }

  h1 {
      font-size: 2rem; /* Decrease heading size */
  }

  p {
      font-size: 1rem; /* Decrease paragraph size */
  }

  .start-button {
      padding: 10px 15px; /* Adjust button padding */
      font-size: 1.2rem; /* Decrease button font size */
      margin-top: 300px; /* Reduce margin on mobile */
  }
}
